.input-group {
    margin: 20px;
    width: 50%;
    align-items: center;
}

a {
    display: block;
    margin-top: 25px;
    text-decoration: none;
}
form {
  text-align: center;
  margin-bottom: 145px;

}
