<!-- <div class="user-chip-container">

<span *ngFor="let user of users | async">
  <div *ngIf="user.purchases" (click)="getUserByKey(user.$key)" class="user-chip">
    <div class="avatar" id="{{user.$key}}">
      {{ user.email | splitUserEmail:true:user.$key }}
    </div>
    <div style="position: relative;  top: 10px; ">

      <span style="font-size: 14px;">{{user.name}}</span>
    </div>
    <div style="position: relative;  top: 10px; font-size: 13px; color: #4f1949">
      <p>{{user.email}}</p>
    </div>
  </div>
</span>
</div> -->

<!-- Contact Chip -->
<div *ngFor="let user of users | async" (click)="getUserByKey(user.$key)">
  <mdl-chip *ngIf="user.purchases" mdl-label="{{ user.email }}" >
    <span mdl-chip-contact class="mdl-color--blue mdl-color-text--white">{{user.email | splitUserEmail }}</span>
  </mdl-chip>
</div>



<div  style="position: absolute; right: 0; height: 600px;; width: 700px;  margin-bottom: 100px;">

  <div *ngIf="acumPrice != 0 || acumQuant != 0" class="resume" style="background-color: rgba(0, 255,0, 0.1); text-align: center;
   margin-top:20px; padding-bottom: 15px; position: fixed; right:100px; top:75px; width:300px; border:0.5px solid; z-index: 1;">
  <h4>{{ (user | async)?.name }}</h4>
    <p>Total precio = <strong style="font-size: 16px;">{{ acumPrice | currency:'cop' }}</strong></p>
    <p>Total  articulos = <strong style="font-size: 16px;">{{ acumQuant }} articulos</strong> </p>
    <span (click)="userPaid(actualUKey)" class="paybutton">PAY</span>
    <span class="detail-btn" (click)="onClick()" >+ Detalles</span>
  </div>

  <div *ngIf="!hide" style="position:absolute; right:235px;">
    <div *ngFor="let ep of eachPurch" class="detail" style="background-color: rgba(200, 2,0, 0.1); text-align: left; padding-left: 35px;
      margin-right: 230px;">
      <h2 class="date">{{ep.date}}</h2>
      <table class="mdl-data-table mdl-js-data-table">
        <div class="info" *ngFor="let purchase of ep.purchases | async; let i=index">
          <span style="color: #4f1949; font-size: 18px;">Purchase #{{i+1}}</span>
          <thead>
            <tr>
              <th class="mdl-data-table__cell--non-numeric">Name</th>
              <th>Quantity</th>
              <th>Unit price</th>
              <th>Total</th>
            </tr>
          </thead>
          <div *ngFor="let buys of purchase">
            <tbody>
              <tr>
                <td class="mdl-data-table__cell--non-numeric">{{ buys.productName }}</td>
                <td>{{ buys.productPrice | currency:'cop' }}</td>
                <td>{{ buys.UserproductCant }}</td>
                <td>{{ buys.UserproductCant *  buys.productPrice | currency:'cop' }}</td>
              </tr>
            </tbody>
          </div>
        </div>
      </table>
    </div>

  </div>
</div>
