<div class="user-chip-container">

<span *ngFor="let user of users | async">
  <div *ngIf="user.purchases" (click)="getUserByKey(user.$key)" class="user-chip">
    <div class="avatar" id="{{user.$key}}">
      {{ user.email | splitUserEmail:true:user.$key }}
    </div>
    <div style="position: relative;  top: 10px; ">

      <span style="font-size: 14px;">{{user.name}}</span>
      <!--<span>$ 2031</span>-->
    </div>
    <div style="position: relative;  top: 10px; font-size: 13px; color: #4f1949">
      <p>{{user.email}}</p>
    </div>
  </div>
</span>
  


</div>

<div style="position: absolute; right: 0; height: 600px;; width: 700px;  margin-bottom: 100px;">

  <div *ngFor="let ep of eachPurch" style="background-color: rgba(200, 2,0, 0.1); text-align: left; padding: 10px;">
    <h2 class="date">{{ep.date}}</h2>
    <div class="info" *ngFor="let purchase of ep.purchases | async; let i=index">
      <div class="user-info">
        {{purchase.name}}
      </div>
      <span style="color: #4f1949; font-size: 18px;">Purchase #{{i+1}}</span>
      <div *ngFor="let buys of purchase">
        <ul>
          <li>
            <div>{{buys.productName}}</div>
            <div>
              Price: {{buys.productPrice | currency:'cop' }} Quantity: {{buys.UserproductCant}} - Total = {{buys.UserproductCant * buys.productPrice
              | currency:'cop'}}
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div *ngIf="acumPrice != 0 || acumQuant != 0" style="background-color: rgba(0, 255,0, 0.1); text-align: right;  padding: 10px;">
    <p>Total price = <strong style="font-size: 16px;">{{ acumPrice | currency:'cop' }}</strong></p>
    <p>Total amount = <strong style="font-size: 16px;">{{ acumQuant }} articles</strong> </p>
    <span (click)="userPaid(actualUKey)" class="paybutton">PAY</span>
  </div>

</div>