.date {
  font-size: 30px;
  color: purple;
  background-color: rgba(179, 212, 220, 0.2);
  padding-top: 10px;
  padding-bottom: 10px;
}
 .info{
   margin: 25px;
   padding: 10px;
   text-align: left;
   border: solid 1px;
   border-top-color: black;
   border-radius: 3px;
   box-shadow: 0 4px 7px 0 rgba(0,0,0,0.1);
 }

 .total{
   position: fixed;
   right: 10px;
   margin: 25px;
   padding: 10px;
   font-weight: bold;
   text-align: left;
   border: solid 1px;
   background-color: rgba(0, 200, 0, 0.2);
   border-radius: 3px;
   box-shadow: 0 4px 7px 0 rgba(0,0,0,0.1);
 }
