<!-- <h4>{{user1.name | async | json}}</h4> -->
<div *ngFor="let ep of eachPurch"class="col-lg-10 col-md-10 col-sx-10">
  <h2 class="date">{{ep.date}}</h2>
  <div class="info" *ngFor="let purchase of ep.purchases | async; let i=index">
    <div class="user-info">
      {{purchase.name}}
    </div>
    <span style="color: #4f1949; font-size: 18px;">Purchase #{{i+1}}</span>
    <div *ngFor="let buys of purchase">
      <ul>
        <li>
          <div>{{buys.productName}}</div>
          <div>
            Price: {{buys.productPrice | currency:'cop' }}
            Quantity: {{buys.UserproductCant}} -
            Total = {{buys.UserproductCant * buys.productPrice | currency:'cop'}}
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="total">
  <p>Total price = <strong style="font-size: 14px;">{{ acumPrice | currency:'cop' }}</strong></p>
  <p>Total amount = <strong style="font-size: 14px;">{{ acumQuant }} articles</strong> </p> 
</div>
